.App {
  font-family: Verdana !important;
  font-size: 12px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @media (match these things: do stuff) {
  .uiBasicSegment {
   
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
  font-family: Verdana;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 0px;
}

#myspace {
  font-family: Verdana;
  background: #f7d9a7;
  color: #d0803b;
  padding: 5px;
  border-radius: 0px;
  margin-top: 1px;
}

#title {
  font-family: Verdana;
  color: #d0803b;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

#friends {
  font-family: Verdana;
  font-size: 14px;
  text-align: center;
}

#logos {
  background-color: white;
  font-family: Verdana;
  max-height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* #details {
  font-family: Verdana;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 0px;
} */

#mainpage {
  font-family: Verdana;
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
  -webkit-margin-top-collapse: discard;
}

#messagegrid {
  font-family: Verdana;
  background-color: #72aad7;
  padding: 5px;
}

#navbar {
  font-family: Verdana;
  background-color: #0049ab;
  border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#topofpage {
  padding-top: 30px;
  margin-bottom: 0px;
  background-color: #0049ab;
  border-radius: 0px;
}

#details {
  font-family: Verdana;
  background-color: #72aad7 !important;
  color: white;
  border-radius: 0px;
  border-style: none;
}

#nopadding {
  padding: 0px;
}

#firstcolumnformat {
  background-color: #bcd9f6;
  color: #42668b;
  border-color: white;
  border-style: solid;
  border-width: thick;
  padding: 5px;
}

#secondcolumnformat {
  background-color: #dceefa;
  color: black;
  border-color: white;
  border-style: solid;
  border-width: thick;
  padding: 5px;
}

#pagecontainer {
  padding: 0px;
  border-style: solid;
  border-color: #72aad7;
  border-width: 3px;
  border-radius: 0px;
}

#composeButton {
  border-radius: 5px;
  background-color: #f7de4d;
  font-family: Verdana;
  font-size: small;
  font-weight: 200;
  color: black;
}

#sendButton {
  border-radius: 3px;
  font-family: Verdana;
  font-size: small;
  font-weight: 200;
  color: black;
}

#imageicons {
  margin-bottom: 0px;
  margin-right: 0px;
}

#warning {
  border-radius: 0px;
  text-align: center;
  font-family: Verdana;
  background-color: #f6f7cd;
  margin-top: 14px;
}

#top8 {
  box-shadow: none !important;
}

#contactMe {
  display: flex;
  width: 100%;
  flex-direction: column;
}
